/* All rights reserved to Aiman Almureish This IS ME and any distribution of may content
or illegal use will expose you to face the LAW  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapperFluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.centerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fontWeight_100 {
    font-weight: 100;
}

.fontWeight_200 {
    font-weight: 200;
}

.fontWeight_300 {
    font-weight: 300;
}

.fontWeight_400 {
    font-weight: 400;
}

.fontWeight_500 {
    font-weight: 500;
}

.fontWeight_600 {
    font-weight: 600;
}

.fontWeight_700 {
    font-weight: 700;
}

.fontWeight_800 {
    font-weight: 800;
}

.fontWeight_900 {
    font-weight: 900;
}


/* WIDTH  */

.w_100 {
    width: 100%;
}

.w_90 {
    width: 90%;
}

.w_80 {
    width: 80%;
}

.w_70 {
    width: 70%;
}

.w_60 {
    width: 60%;
}

.w_50 {
    width: 50%;
}

.w_40 {
    width: 40%;
}

.w_30 {
    width: 30%;
}

.w_20 {
    width: 20%;
}

.w_10 {
    width: 10%;
}


/* HEIGHT  */

.h_100 {
    height: 100%;
}

.h_90 {
    height: 90%;
}

.h_80 {
    height: 80%;
}

.h_70 {
    height: 70%;
}

.h_60 {
    height: 60%;
}

.h_50 {
    height: 50%;
}

.h_40 {
    height: 40%;
}

.h_30 {
    height: 30%;
}

.h_20 {
    height: 20%;
}

.h_10 {
    height: 10%;
}

.heightAuto {
    height: auto;
}

.heightFit {
    height: fit-content;
}


/* FLOAT  */

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.floatNone {
    float: none;
}


/* TEXT COLOR  */

.textWhite {
    color: #fff;
}

.textBlack {
    color: #000;
}


/* TEXT ALIGN  */

.textRight {
    text-align: right;
}

.textCenter {
    text-align: left;
}

.textLeft {
    text-align: center;
}


/* CLEAR FIX  */

.clearfix {
    clear: both;
    content: "";
}

.title {
    padding-top: 3em;
    padding-bottom: 3em;
}

.listNone {
    list-style: none;
}

.saver {
    position: relative;
    z-index: -1;
    display: table;
    margin: 0;
    max-width: none;
}


/* FLEX  */

flex {
    display: flex;
}

FlexCenter {
    justify-content: center;
}

flexBetween {
    justify-content: space-between;
}

flexAround {
    justify-content: space-around;
}

flexStart {
    justify-content: flex-start;
}

flexEnd {
    justify-content: flex-end;
}

flexAlignCenter {
    align-items: center;
}

flexAlignStart {
    align-items: flex-start;
}

flexAlignEnd {
    align-items: flex-end;
}

flexColumn {
    flex-direction: column;
}

flexColumnReverse {
    flex-direction: column-reverse;
}

flexRowReverse {
    flex-direction: row-reverse;
}

[class*="col-fl"] {
    width: 100%;
    float: left;
    padding: 15px;
    /* border: 1px solid black; */
}

[class*="col-fr"] {
    width: 100%;
    float: right;
    padding: 15px;
    /* border: 1px solid black; */
}


/* tablet */

@media (min-width: 600px) {
    .col-fl-md-1 {
        width: 8.33%;
    }
    .col-fl-md-2 {
        width: 16.66%;
    }
    .col-fl-md-3 {
        width: 25%;
    }
    .col-fl-md-4 {
        width: 33.33%;
    }
    .col-fl-md-5 {
        width: 41.66%;
    }
    .col-fl-md-6 {
        width: 50%;
    }
    .col-fl-md-7 {
        width: 58.33%;
    }
    .col-fl-md-8 {
        width: 66.66%;
    }
    .col-fl-md-9 {
        width: 75%;
    }
    .col-fl-md-10 {
        width: 83.33%;
    }
    .col-fl-md-11 {
        width: 91.66%;
    }
    .col-fl-md-12 {
        width: 100%;
    }
    /* float right */
    .col-fr-md-1 {
        width: 8.33%;
    }
    .col-fr-md-2 {
        width: 16.66%;
    }
    .col-fr-md-3 {
        width: 25%;
    }
    .col-fr-md-4 {
        width: 33.33%;
    }
    .col-fr-md-5 {
        width: 41.66%;
    }
    .col-fr-md-6 {
        width: 50%;
    }
    .col-fr-md-7 {
        width: 58.33%;
    }
    .col-fr-md-8 {
        width: 66.66%;
    }
    .col-fr-md-9 {
        width: 75%;
    }
    .col-fr-md-10 {
        width: 83.33%;
    }
    .col-fr-md-11 {
        width: 91.66%;
    }
    .col-fr-md-12 {
        width: 100%;
    }
}


/* desktop */

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}