/* All rights reserved to Aiman Almureish IT IS ME and any distribution of may content
or illegal use will expose you to face the LAW  */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

[class*="col-"]{
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}

/* tablet */
@media (min-width:600px) {
  .col-md-1{
    width: 8.33%;
  }
  .col-md-2{
    width: 16.66%;
  }
  .col-md-3{
    width: 25%;
  }
  .col-md-4{
    width: 33.33%;
  }
  .col-md-5{
    width: 41.66%;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-7{
    width: 58.33%;
  }
  .col-md-8{
    width: 66.66%;
  }
  .col-md-9{
    width: 75%;
  }
  .col-md-10{
    width: 83.33%;
  }
  .col-md-11{
    width: 91.66%;
  }
  .col-md-12{
    width: 100%;
  }
}


/* desktop */

@media only screen and (min-width:768px) {
  .col-1{
    width: 8.33%;
  }
  .col-2{
    width: 16.66%;
  }
  .col-3{
    width: 25%;
  }
  .col-4{
    width: 33.33%;
  }
  .col-5{
    width: 41.66%;
  }
  .col-6{
    width: 50%;
  }
  .col-7{
    width: 58.33%;
  }
  .col-8{
    width: 66.66%;
  }
  .col-9{
    width: 75%;
  }
  .col-10{
    width: 83.33%;
  }
  .col-11{
    width: 91.66%;
  }
  .col-12{
    width: 100%;
  }
}
